*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.window{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    width: 85vw;
    /* margin: 20px 50px; */
    border: 2px solid lightgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
}

.title{
    background-color: rgba(11, 0, 70, 0.7);
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

h1{
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 10px;
    color: white;
    text-align: center;
}

.cross{
    font-size: 30px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.cross:hover{
    background-color: red;
}

.ctab, .tabs{
    display: flex;
}

.tabs{
    overflow-x: scroll;
}

.tab, #plus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px; */
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.active{
    background-color: rgb(65, 65, 65);
}

.tab p{
    font-size: 20px;
    padding: 0 15px 0 10px;
    margin: 10px 0;
}

span{
    padding: 5px;
}

span.plus{
    margin: 5px;
    font-size: 20px;
}

span:hover{
    cursor: pointer;
}
pre{
    font-size: 15px;
    color: white;
    white-space: pre-wrap;
}

.box{
    height: 700px;
    overflow: scroll;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
}

input{
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    outline: none;
    color: white;
    background-color: rgba(0, 0, 0);
    /* backface-visibility: hidden; */
    padding: 20px;
    caret-color: lawngreen;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: inset -5px -5px 20px rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar {
    display:none;
}

@media screen and (max-width: 768px){
    .window{
        /* margin: 20px; */
    }
}

